<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">


    <nav id="navmenu" class="navmenu">

    </nav>


  </div>
</header>


<main class="main">

  <section id="hero" class="hero d-flex section dark-background">

    <img src="/img/world-dotted-map.png" alt="" class="hero-bg" data-aos="fade-in">

    <div class="container   d-flex justify-content-center">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1  class="fs-1 fw-bolder">¡Monak está por llegar!</h1>
          <span class="fs-4 fw-lighter text-light" data-aos-delay="100">En Monak, estamos creando una plataforma innovadora para ofrecerte todo lo que necesitas en el mundo digital: desarrollo web de alto nivel, soluciones backend robustas, diseños funcionales y atractivos, y soporte dedicado para asegurarte que todo funcione sin problemas.

            Ya sea que necesites una página web, una aplicación personalizada o simplemente mejorar tu presencia en línea, Monak tiene la experiencia y las herramientas para hacerlo realidad.</span>



          <div class="row gy-4" data-aos="fade-up" data-aos-delay="300">



          </div>

        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img  align-content-center" data-aos="zoom-out">
          <img src="/img/heroImg.jpg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>

  </section><!-- /Hero Section -->



</main>
